<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="KoneksiSaya" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=D:\SiakadPbo.mdf;Initial Catalog=SiakadPbo;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <!-- Tidak digunakan -->
    <add name="koneksi2" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\MSSQLSERVER2016;Initial Catalog=SiakadPbo;Integrated Security=False;User Id=sa;Password=passwordSaya'" />

    <!-- Tidak digunakan -->
    <add name="koneksi3" connectionString="Server=localhost;Port=5432;Database=SiakadPbo;User Id=userSaya;Password=passwordSaya;" providerName="Npgsql" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>